<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.block</key>
	<dict>
		<key>name</key>
		<string>.block size</string>
		<key>arguments</key>
		<array>
			<dict>
				<key>name</key>
				<string>size</string>
				<key>isPlaceholder</key>
				<true/>
			</dict>
		</array>
	</dict>
	<key>.dw</key>
	<dict>
		<key>name</key>
		<string>.dw value</string>
		<key>arguments</key>
		<array>
			<dict>
				<key>name</key>
				<string>value</string>
				<key>isPlaceholder</key>
				<true/>
			</dict>
		</array>
	</dict>
	<key>.db</key>
	<dict>
		<key>name</key>
		<string>.db value</string>
		<key>arguments</key>
		<array>
			<dict>
				<key>name</key>
				<string>value</string>
				<key>isPlaceholder</key>
				<true/>
			</dict>
		</array>
	</dict>
	<key>.addinstr</key>
	<dict>
		<key>name</key>
		<string>.addinstr</string>
	</dict>
	<key>.byte</key>
	<dict>
		<key>name</key>
		<string>.byte</string>
	</dict>
	<key>.echo</key>
	<dict>
		<key>name</key>
		<string>.echo</string>
	</dict>
	<key>.end</key>
	<dict>
		<key>name</key>
		<string>.end</string>
	</dict>
	<key>.error</key>
	<dict>
		<key>name</key>
		<string>.error</string>
	</dict>
	<key>.fill</key>
	<dict>
		<key>name</key>
		<string>.fill size,value</string>
		<key>arguments</key>
		<array>
			<dict>
				<key>name</key>
				<string>size</string>
				<key>isPlaceholder</key>
				<true/>
			</dict>
			<dict>
				<key>name</key>
				<string>value</string>
				<key>isPlaceholder</key>
				<true/>
			</dict>
		</array>
	</dict>
	<key>.list</key>
	<dict>
		<key>name</key>
		<string>.list</string>
	</dict>
	<key>.nolist</key>
	<dict>
		<key>name</key>
		<string>.nolist</string>
	</dict>
	<key>.option</key>
	<dict>
		<key>name</key>
		<string>.option</string>
	</dict>
	<key>.org</key>
	<dict>
		<key>name</key>
		<string>.org</string>
	</dict>
	<key>.seek</key>
	<dict>
		<key>name</key>
		<string>.seek</string>
	</dict>
	<key>.show</key>
	<dict>
		<key>name</key>
		<string>.show</string>
	</dict>
</dict>
</plist>
