<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>keyBindings</key>
	<dict>
		<key>newProject:</key>
		<dict>
			<key>keyCode</key>
			<integer>45</integer>
			<key>modifierFlags</key>
			<dict>
				<key>command</key>
				<true/>
				<key>shift</key>
				<true/>
			</dict>
		</dict>
		<key>newDocument:</key>
		<dict>
			<key>keyCode</key>
			<integer>45</integer>
			<key>modifierFlags</key>
			<dict>
				<key>command</key>
				<true/>
			</dict>
		</dict>
		<key>preferences:</key>
		<dict>
			<key>keyCode</key>
			<integer>43</integer>
			<key>modifierFlags</key>
			<dict>
				<key>command</key>
				<true/>
			</dict>
		</dict>
		<key>hide:</key>
		<dict>
			<key>keyCode</key>
			<integer>4</integer>
			<key>modifierFlags</key>
			<dict>
				<key>command</key>
				<true/>
			</dict>
		</dict>
		<key>hideOtherApplications:</key>
		<dict>
			<key>keyCode</key>
			<integer>4</integer>
			<key>modifierFlags</key>
			<dict>
				<key>command</key>
				<true/>
				<key>option</key>
				<true/>
			</dict>
		</dict>
		<key>unhideAllApplications:</key>
		<dict/>
		<key>terminate:</key>
		<dict>
			<key>keyCode</key>
			<integer>12</integer>
			<key>modifierFlags</key>
			<dict>
				<key>command</key>
				<true/>
			</dict>
		</dict>
		<key>openDocument:</key>
		<dict>
			<key>keyCode</key>
			<integer>31</integer>
			<key>modifierFlags</key>
			<dict>
				<key>command</key>
				<true/>
			</dict>
		</dict>
		<key>openQuickly:</key>
		<dict>
			<key>keyCode</key>
			<integer>31</integer>
			<key>modifierFlags</key>
			<dict>
				<key>command</key>
				<true/>
				<key>shift</key>
				<true/>
			</dict>
		</dict>
		<key>performClose:</key>
		<dict>
			<key>keyCode</key>
			<integer>13</integer>
			<key>modifierFlags</key>
			<dict>
				<key>command</key>
				<true/>
			</dict>
		</dict>
		<key>saveDocument:</key>
		<dict>
			<key>keyCode</key>
			<integer>1</integer>
			<key>modifierFlags</key>
			<dict>
				<key>command</key>
				<true/>
			</dict>
		</dict>
		<key>revertDocumentToSaved:</key>
		<dict/>
		<key>runPageLayout:</key>
		<dict>
			<key>keyCode</key>
			<integer>35</integer>
			<key>modifierFlags</key>
			<dict>
				<key>command</key>
				<true/>
				<key>shift</key>
				<true/>
			</dict>
		</dict>
		<key>printDocument:</key>
		<dict>
			<key>keyCode</key>
			<integer>35</integer>
			<key>modifierFlags</key>
			<dict>
				<key>command</key>
				<true/>
			</dict>
		</dict>
		<key>undo:</key>
		<dict>
			<key>keyCode</key>
			<integer>6</integer>
			<key>modifierFlags</key>
			<dict>
				<key>command</key>
				<true/>
			</dict>
		</dict>
		<key>redo:</key>
		<dict>
			<key>keyCode</key>
			<integer>6</integer>
			<key>modifierFlags</key>
			<dict>
				<key>command</key>
				<true/>
				<key>shift</key>
				<true/>
			</dict>
		</dict>
		<key>cut:</key>
		<dict>
			<key>keyCode</key>
			<integer>7</integer>
			<key>modifierFlags</key>
			<dict>
				<key>command</key>
				<true/>
			</dict>
		</dict>
		<key>copy:</key>
		<dict>
			<key>keyCode</key>
			<integer>8</integer>
			<key>modifierFlags</key>
			<dict>
				<key>command</key>
				<true/>
			</dict>
		</dict>
		<key>paste:</key>
		<dict>
			<key>keyCode</key>
			<integer>9</integer>
			<key>modifierFlags</key>
			<dict>
				<key>command</key>
				<true/>
			</dict>
		</dict>
		<key>delete:</key>
		<dict>
			<key>keyCode</key>
			<integer>51</integer>
			<key>modifierFlags</key>
			<dict>
				<key>command</key>
				<true/>
			</dict>
		</dict>
		<key>selectAll:</key>
		<dict>
			<key>keyCode</key>
			<integer>0</integer>
			<key>modifierFlags</key>
			<dict>
				<key>command</key>
				<true/>
			</dict>
		</dict>
		<key>toggleBookmarkAtCurrentLine:</key>
		<dict>
			<key>keyCode</key>
			<integer>11</integer>
			<key>modifierFlags</key>
			<dict>
				<key>control</key>
				<true/>
			</dict>
		</dict>
		<key>jumpToNextBookmark:</key>
		<dict>
			<key>keyCode</key>
			<integer>41</integer>
			<key>modifierFlags</key>
			<dict>
				<key>command</key>
				<true/>
			</dict>
		</dict>
		<key>jumpToPreviousBookmark:</key>
		<dict>
			<key>keyCode</key>
			<integer>41</integer>
			<key>modifierFlags</key>
			<dict>
				<key>command</key>
				<true/>
				<key>shift</key>
				<true/>
			</dict>
		</dict>
		<key>performTextFinderAction:</key>
		<dict>
			<key>tags</key>
			<dict>
				<key>1</key>
				<dict>
					<key>keyCode</key>
					<integer>3</integer>
					<key>modifierFlags</key>
					<dict>
						<key>command</key>
						<true/>
					</dict>
				</dict>
				<key>12</key>
				<dict>
					<key>keyCode</key>
					<integer>3</integer>
					<key>modifierFlags</key>
					<dict>
						<key>command</key>
						<true/>
						<key>option</key>
						<true/>
					</dict>
				</dict>
				<key>2</key>
				<dict>
					<key>keyCode</key>
					<integer>5</integer>
					<key>modifierFlags</key>
					<dict>
						<key>command</key>
						<true/>
					</dict>
				</dict>
				<key>3</key>
				<dict>
					<key>keyCode</key>
					<integer>5</integer>
					<key>modifierFlags</key>
					<dict>
						<key>command</key>
						<true/>
						<key>shift</key>
						<true/>
					</dict>
				</dict>
				<key>4</key>
				<dict/>
				<key>5</key>
				<dict/>
				<key>6</key>
				<dict/>
				<key>7</key>
				<dict>
					<key>keyCode</key>
					<integer>14</integer>
					<key>modifierFlags</key>
					<dict>
						<key>command</key>
						<true/>
					</dict>
				</dict>
			</dict>
		</dict>
		<key>showGuessPanel:</key>
		<dict/>
		<key>checkSpellingNow:</key>
		<dict/>
		<key>toggleContinuousSpellChecking:</key>
		<dict/>
		<key>toggleGrammarChecking:</key>
		<dict/>
		<key>toggleAutomaticSpellingChecking:</key>
		<dict/>
		<key>uppercaseWord:</key>
		<dict/>
		<key>lowercaseWord:</key>
		<dict/>
		<key>capitalizeWord:</key>
		<dict/>
		<key>startSpeaking:</key>
		<dict/>
		<key>stopSpeaking:</key>
		<dict/>
		<key>showStandardEditor:</key>
		<dict>
			<key>keyCode</key>
			<integer>36</integer>
			<key>modifierFlags</key>
			<dict>
				<key>command</key>
				<true/>
			</dict>
		</dict>
		<key>showTopLevelItems:</key>
		<dict>
			<key>keyCode</key>
			<integer>18</integer>
			<key>modifierFlags</key>
			<dict>
				<key>shift</key>
				<true/>
				<key>command</key>
				<true/>
			</dict>
		</dict>
		<key>showGroupItems:</key>
		<dict>
			<key>keyCode</key>
			<integer>19</integer>
			<key>modifierFlags</key>
			<dict>
				<key>shift</key>
				<true/>
				<key>command</key>
				<true/>
			</dict>
		</dict>
		<key>showDocumentItems:</key>
		<dict>
			<key>keyCode</key>
			<integer>20</integer>
			<key>modifierFlags</key>
			<dict>
				<key>shift</key>
				<true/>
				<key>command</key>
				<true/>
			</dict>
		</dict>
		<key>showAssistantEditor:</key>
		<dict>
			<key>keyCode</key>
			<integer>36</integer>
			<key>modifierFlags</key>
			<dict>
				<key>command</key>
				<true/>
				<key>shift</key>
				<true/>
			</dict>
		</dict>
		<key>addAssistantEditor:</key>
		<dict>
			<key>keyCode</key>
			<integer>13</integer>
			<key>modifierFlags</key>
			<dict>
				<key>command</key>
				<true/>
				<key>shift</key>
				<true/>
			</dict>
		</dict>
		<key>removeAssistantEditor:</key>
		<dict>
			<key>keyCode</key>
			<integer>13</integer>
			<key>modifierFlags</key>
			<dict>
				<key>command</key>
				<true/>
				<key>shift</key>
				<true/>
				<key>control</key>
				<true/>
			</dict>
		</dict>
		<key>toggleToolbarShown:</key>
		<dict>
			<key>keyCode</key>
			<integer>17</integer>
			<key>modifierFlags</key>
			<dict>
				<key>command</key>
				<true/>
				<key>option</key>
				<true/>
			</dict>
		</dict>
		<key>toggleFullScreen:</key>
		<dict>
			<key>keyCode</key>
			<integer>3</integer>
			<key>modifierFlags</key>
			<dict>
				<key>command</key>
				<true/>
				<key>control</key>
				<true/>
			</dict>
		</dict>
		<key>jumpToLine:</key>
		<dict>
			<key>keyCode</key>
			<integer>37</integer>
			<key>modifierFlags</key>
			<dict>
				<key>command</key>
				<true/>
			</dict>
		</dict>
		<key>jumpToSelection:</key>
		<dict>
			<key>keyCode</key>
			<integer>37</integer>
			<key>modifierFlags</key>
			<dict>
				<key>command</key>
				<true/>
				<key>shift</key>
				<true/>
			</dict>
		</dict>
		<key>jumpToDefinition:</key>
		<dict>
			<key>keyCode</key>
			<integer>38</integer>
			<key>modifierFlags</key>
			<dict>
				<key>command</key>
				<true/>
			</dict>
		</dict>
		<key>jumpInFile:</key>
		<dict>
			<key>keyCode</key>
			<integer>38</integer>
			<key>modifierFlags</key>
			<dict>
				<key>command</key>
				<true/>
				<key>shift</key>
				<true/>
			</dict>
		</dict>
		<key>jumpToNextPlaceholder:</key>
		<dict>
			<key>keyCode</key>
			<integer>44</integer>
			<key>modifierFlags</key>
			<dict>
				<key>control</key>
				<true/>
			</dict>
		</dict>
		<key>jumpToPreviousPlaceholder:</key>
		<dict>
			<key>keyCode</key>
			<integer>44</integer>
			<key>modifierFlags</key>
			<dict>
				<key>control</key>
				<true/>
				<key>shift</key>
				<true/>
			</dict>
		</dict>
		<key>complete:</key>
		<dict>
			<key>keyCode</key>
			<integer>49</integer>
			<key>modifierFlags</key>
			<dict>
				<key>control</key>
				<true/>
			</dict>
		</dict>
		<key>shiftLeft:</key>
		<dict>
			<key>keyCode</key>
			<integer>33</integer>
			<key>modifierFlags</key>
			<dict>
				<key>command</key>
				<true/>
			</dict>
		</dict>
		<key>shiftRight:</key>
		<dict>
			<key>keyCode</key>
			<integer>30</integer>
			<key>modifierFlags</key>
			<dict>
				<key>command</key>
				<true/>
			</dict>
		</dict>
		<key>commentUncommentSelection:</key>
		<dict>
			<key>keyCode</key>
			<integer>44</integer>
			<key>modifierFlags</key>
			<dict>
				<key>command</key>
				<true/>
			</dict>
		</dict>
		<key>performMiniaturize:</key>
		<dict>
			<key>keyCode</key>
			<integer>46</integer>
			<key>modifierFlags</key>
			<dict>
				<key>command</key>
				<true/>
			</dict>
		</dict>
		<key>performZoom:</key>
		<dict/>
		<key>arrangeInFront:</key>
		<dict/>
		<key>showHelp:</key>
		<dict/>
	</dict>
	<key>name</key>
	<string>Default</string>
	<key>identifier</key>
	<string>org.revsoft.wabbitstudio.keybindingcommandset.default</string>
</dict>
</plist>
