<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allowedFileTypes</key>
	<array>
		<string>asm</string>
		<string>z80</string>
	</array>
	<key>summary</key>
	<string>Empty Include file, nothing special.</string>
</dict>
</plist>
