<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>#defcont</key>
	<dict>
		<key>name</key>
		<string>#defcont</string>
	</dict>
	<key>#comment</key>
	<dict>
		<key>name</key>
		<string>#comment text #endcomment</string>
		<key>requiresTrailingNewline</key>
		<true/>
		<key>arguments</key>
		<array>
			<dict>
				<key>subArguments</key>
				<array>
					<dict>
						<key>name</key>
						<string>text</string>
						<key>isPlaceholder</key>
						<true/>
						<key>requiresTrailingNewline</key>
						<true/>
					</dict>
					<dict>
						<key>name</key>
						<string>#endcomment</string>
						<key>isPlaceholder</key>
						<false/>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<key>#endcomment</key>
	<dict>
		<key>name</key>
		<string>#endcomment</string>
	</dict>
	<key>#elif</key>
	<dict>
		<key>name</key>
		<string>#elif condition</string>
		<key>arguments</key>
		<array>
			<dict>
				<key>name</key>
				<string>condition</string>
				<key>isPlaceholder</key>
				<true/>
			</dict>
		</array>
	</dict>
	<key>#else</key>
	<dict>
		<key>name</key>
		<string>#else</string>
	</dict>
	<key>#endif</key>
	<dict>
		<key>name</key>
		<string>#endif</string>
	</dict>
	<key>#if</key>
	<dict>
		<key>name</key>
		<string>#if condition</string>
		<key>arguments</key>
		<array>
			<dict>
				<key>name</key>
				<string>condition</string>
				<key>isPlaceholder</key>
				<true/>
			</dict>
		</array>
	</dict>
	<key>#ifdef</key>
	<dict>
		<key>name</key>
		<string>#ifdef define</string>
		<key>arguments</key>
		<array>
			<dict>
				<key>name</key>
				<string>define</string>
				<key>isPlaceholder</key>
				<true/>
			</dict>
		</array>
	</dict>
	<key>#ifndef</key>
	<dict>
		<key>name</key>
		<string>#ifndef define</string>
		<key>arguments</key>
		<array>
			<dict>
				<key>name</key>
				<string>define</string>
				<key>isPlaceholder</key>
				<true/>
			</dict>
		</array>
	</dict>
	<key>#import</key>
	<dict>
		<key>name</key>
		<string>#import &quot;filename&quot;</string>
		<key>arguments</key>
		<array>
			<dict>
				<key>subArguments</key>
				<array>
					<dict>
						<key>name</key>
						<string>&quot;</string>
						<key>isPlaceholder</key>
						<false/>
					</dict>
					<dict>
						<key>name</key>
						<string>filename</string>
						<key>isPlaceholder</key>
						<true/>
					</dict>
					<dict>
						<key>name</key>
						<string>&quot;</string>
						<key>isPlaceholder</key>
						<false/>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<key>#include</key>
	<dict>
		<key>name</key>
		<string>#include &quot;filename&quot;</string>
		<key>arguments</key>
		<array>
			<dict>
				<key>subArguments</key>
				<array>
					<dict>
						<key>name</key>
						<string>&quot;</string>
						<key>isPlaceholder</key>
						<false/>
					</dict>
					<dict>
						<key>name</key>
						<string>filename</string>
						<key>isPlaceholder</key>
						<true/>
					</dict>
					<dict>
						<key>name</key>
						<string>&quot;</string>
						<key>isPlaceholder</key>
						<false/>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<key>#undef</key>
	<dict>
		<key>name</key>
		<string>#undef thing_to_undefine</string>
		<key>arguments</key>
		<array>
			<dict>
				<key>name</key>
				<string>thing_to_undefine</string>
				<key>isPlaceholder</key>
				<true/>
			</dict>
		</array>
	</dict>
	<key>#undefine</key>
	<dict>
		<key>name</key>
		<string>#undefine thing_to_undefine</string>
		<key>arguments</key>
		<array>
			<dict>
				<key>name</key>
				<string>thing_to_undefine</string>
				<key>isPlaceholder</key>
				<true/>
			</dict>
		</array>
	</dict>
	<key>#define</key>
	<dict>
		<key>name</key>
		<string>#define name value</string>
		<key>arguments</key>
		<array>
			<dict>
				<key>subArguments</key>
				<array>
					<dict>
						<key>name</key>
						<string>name</string>
						<key>isPlaceholder</key>
						<true/>
					</dict>
					<dict>
						<key>name</key>
						<string> </string>
						<key>isPlaceholder</key>
						<false/>
					</dict>
					<dict>
						<key>name</key>
						<string>value</string>
						<key>isPlaceholder</key>
						<true/>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<key>#macro</key>
	<dict>
		<key>name</key>
		<string>#macro name(arguments) #endmacro</string>
		<key>arguments</key>
		<array>
			<dict>
				<key>subArguments</key>
				<array>
					<dict>
						<key>name</key>
						<string>name</string>
						<key>isPlaceholder</key>
						<true/>
					</dict>
					<dict>
						<key>name</key>
						<string>(</string>
						<key>isPlaceholder</key>
						<false/>
					</dict>
					<dict>
						<key>name</key>
						<string>arguments</string>
						<key>isPlaceholder</key>
						<true/>
					</dict>
					<dict>
						<key>name</key>
						<string>)</string>
						<key>isPlaceholder</key>
						<false/>
						<key>requiresTrailingNewline</key>
						<true/>
					</dict>
					<dict>
						<key>name</key>
						<string>value</string>
						<key>isPlaceholder</key>
						<true/>
						<key>requiresTrailingNewline</key>
						<true/>
					</dict>
					<dict>
						<key>name</key>
						<string>#endmacro</string>
						<key>isPlaceholder</key>
						<false/>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</dict>
</plist>
